*.*
!.gitignore
!pom.xml
!circle.yml
!*.java
!*.xsd
!*.xjb
!*.md

!src/analysis/**/*.xml
!src/analysis/**/*.txt
!src/analysis/**/*.md

!src/main/resources/**/*.properties
!src/main/resources/**/*.yaml
!src/main/resources/**/*.xml
!src/main/resources/**/*.asl
!src/main/resources/**/*.png
!src/main/resources/**/*.ttf

!src/site/*.doxyfile
!src/site/*.htm
!src/site/*.css
!src/site/*.xml

target/**

