*.*
!.gitignore
!pom.xml
!circle.yml
!*.java
!*.md

!src/main/resources/**/*.properties
!src/main/resources/**/*.yaml

!src/main/documentation/*.doxyfile
!src/main/documentation/*.htm
!src/main/documentation/*.css

target/**

